*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}
main{
    max-width: 1020px;
    margin: 0 auto;
    padding: 1.5rem;
}
#container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin: 3rem 0;
}
.box{
    display: flex;
    flex-direction: column;
    width: 150px;
    box-shadow: 2px 2px 4px #ddd;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.box img{
    width: 100%;
    background-color: #0097c9;
}
.text{
    padding: 5px;
    font-size: 0.9rem;
    background-color: #eee;
}

/*responsive*/
@media screen and (max-width: 1050px) {
    main{
        max-width: 800px;
    }
    #container{
    grid-template-columns: repeat(3, 1fr);
   }

}
@media screen and (max-width: 700px) {
    main{
        max-width: 500px;
        text-align: center;
    }
    #container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
       }
}
@media screen and (max-width: 480px) {
    main{
        max-width: 320px;
        text-align: center;
    }
    #container{
        grid-template-columns: 1fr;
        justify-items: center;
       }
}